---

- name: check exoscale-cli releases
  uri:
    url: https://api.github.com/repos/exoscale/cli/releases
    return_content: yes
  register: exocli_release

- name: set fact for exoscale-cli latest release
  set_fact:
    exocli_latest_release: "{{exocli_release.json | first}}"

- name: set fact for exoscale-cli deb release
  set_fact:
    exocli_deb_release : "{{ exocli_latest_release.assets
    | selectattr('content_type', 'equalto', 'application/x-debian-package')
    | list
    | first }}"

- name: set fact for exoscale-cli deb PGP sig release
  set_fact:
    exocli_deb_pgp : "{{ exocli_latest_release.assets
    | selectattr('name', 'equalto', exocli_deb_release.name + '.sig')
    | selectattr('content_type', 'equalto', 'application/pgp-signature')
    | list
    | first }}"

- name: set fact for installation
  set_fact:
    exocli_install: ansible_facts.packages['exoscale-cli'] is not defined or ansible_facts.packages['exoscale-cli'][0].version != exocli_latest_release.tag_name

- name: download latest exoscale-cli release {{ exocli_latest_release.name }}
  get_url:
    url: '{{ exocli_deb_release.browser_download_url }}'
    dest: '/tmp/{{ exocli_deb_release.name }}'
    force: yes
  when: exocli_install

- name: download latest exoscale-cli release signature {{ exocli_latest_release.name }}
  get_url:
    url: '{{ exocli_deb_pgp.browser_download_url }}'
    dest: '/tmp/{{ exocli_deb_pgp.name }}'
    force: yes
  register: exocli_download_sig
  when: exocli_install

- name: check signature of exoscale-cli {{ exocli_latest_release.name }}
  command: gpg --verify '/tmp/{{ exocli_deb_pgp.name }}' '/tmp/{{ exocli_deb_release.name }}'
  when: exocli_install
  changed_when: false

# - name: install or upgrade exoscale-cli {{ exocli_latest_release.name }}
#   become: yes
#   apt:
#     deb: '/tmp/{{ exocli_deb_release.name }}'
#     state: present
#   when: exocli_install
