---

- name: remove cheat
  become: true
  file:
    path: "/usr/local/bin/cheat"
    state: absent

- name: remove cheat configuration directory
  become: true
  become_user: "{{ username }}"
  ansible.builtin.file:
    path: "{{ config.zsh }}/cheat"
    state: absent
