---
- name: Gathering packages facts
  hosts: [all]
  tasks:
    - name: fetch packages information
      package_facts:
        manager: auto
  tags:
    - system
    - always

- name: Configure system
  hosts: [all]
  roles:
    # CORE
    - role: locales
      tags: locales

    - role: packages/apt
      tags: apt
      when: ansible_os_family == "Debian"

    - role: packages/snap
      tags: snap
      when: ansible_os_family == "Debian"

    - role: packages/sudo
      tags: sudo

    - role: common/configuration
      tags: configuration

    - role: common/upgrade
      tags: upgrade, never

    - role: common/hardware
      tags: hardware, system

    - role: user/setup
      tags: user

    # SYSTEM
    - role: packages/firewall
      tags: firewall

    - role: packages/sshd
      tags: ssh

    - role: packages/common
      tags: common

    - role: packages/fonts
      tags: fonts

    - role: packages/inputplug
      tags: inputplug

    - role: packages/incus
      tags: incus

    # DEVELOPMENT
    - role: packages/python
      tags: python

    - role: packages/python/uv
      tags: uv

    - role: packages/python/ruff
      tags: ruff

    - role: packages/golang
      tags: golang

    - role: packages/rust
      tags: rust

    - role: packages/container
      tags: container

    - role: packages/docker
      tags: docker # to delete

    - role: packages/lazydocker
      tags: lazydocker # to delete

    - role: packages/devbox
      tags: devbox

    - role: packages/toolbox
      tags: toolbox

    # PACKAGES
    - role: packages/desktop
      tags: desktop

    - role: packages/kitty
      tags: kitty

    - role: packages/localsend
      tags: localsend

    - role: packages/flyctl
      tags: flyctl
      when: private_node

    - role: packages/hashicorp
      tags: hashicorp

    - role: packages/hashicorp/hashienv
      tags: hashienv

    - role: packages/visualcode
      tags: vscode

    - role: packages/gh
      tags: gh

    - role: packages/firefox
      tags: firefox

    - role: packages/doggo
      tags: doggo

    - role: packages/pandoc
      tags: pandoc

    - role: packages/typst
      tags: typst

    - role: packages/dbeaver
      tags: dbeaver

    - role: packages/drawio
      tags: drawio

    - role: packages/signal
      tags: signal

    - role: packages/brave
      tags: brave

    - role: packages/obsidian
      tags: obsidian

    - role: packages/cheat
      tags: cheat

    - role: packages/bandwhich
      tags: bandwhich

    - role: packages/sops
      tags: sops

    - role: packages/fish
      tags: fish

    - role: packages/starship
      tags: starship

    - role: packages/lunii
      tags: lunii
      when: private_node

    - role: packages/calibre
      tags: calibre
      when: private_node

    - role: packages/awscli
      tags: awscli, never

    - role: packages/awsvault
      tags: awsvault

    - role: packages/hcloud
      tags: hcloud

    - role: packages/gcalcli
      tags: gcalcli
      when: not private_node

    - role: packages/taskfile
      tags: taskfile

    - role: packages/git-cliff
      tags: git-cliff

    - role: packages/cyme
      tags: cyme

    - role: packages/jwt
      tags: jwt

    - role: packages/exercism
      tags: exercism

    - role: packages/jujutsu
      tags: jj

    - role: packages/darkman
      tags: darkman

    - role: packages/zed
      tags: zed

    - role: packages/terraform-switcher
      tags: tfswitch

    - role: packages/antigravity
      tags: antigravity
      when: not private_node

    - role: packages/deezer-linux
      tags: deezer

    - role: packages/ttl
      tags: ttl

    - role: packages/gopass
      tags: gopass

    - role: packages/zen
      tags: zen

    - role: user/config
      tags: user, config

    - role: work
      tags: work
      when: not private_node

  tags:
    - packages
