---

- name: fetch darkman tags
  ansible.builtin.uri:
    url: https://gitlab.com/api/v4/projects/23104371/repository/tags
    return_content: true
  register: darkman_tags

- name: check local darkman
  ansible.builtin.stat:
    path: /usr/local/bin/darkman
  register: darkman_stat

- name: check local darkman version
  ansible.builtin.command: /usr/local/bin/darkman --version
  register: darkman_version
  changed_when: false
  when: darkman_stat.stat.exists

- name: set darkman version
  ansible.builtin.set_fact:
    darkman_remote_version: "{{ darkman_tags.json |to_json|from_json| json_query('max_by(@, &name).name') }}"

- name: darkman code git checkout
  become: true
  become_user: "{{ username }}"
  ansible.builtin.git:
    clone: true
    dest: "/tmp/darkman"
    repo: "https://gitlab.com/WhyNotHugo/darkman.git"
    version: "{{ darkman_remote_version }}"
    update: true
  diff: false
  when:
    - not ansible_check_mode
    - darkman_remote_version not in darkman_version.stdout_lines[0]

- name: build darkman
  become: true
  become_user: "{{ username }}"
  community.general.make:
    chdir: /tmp/darkman
  when:
    - not ansible_check_mode
    - darkman_remote_version not in darkman_version.stdout_lines[0]

- name: install darkman {{ darkman_remote_version }}
  become: true
  community.general.make:
    chdir: /tmp/darkman
    target: install
    params:
      PREFIX: /usr/local
  when:
    - not ansible_check_mode
    - darkman_remote_version not in darkman_version.stdout_lines[0]

- name: create darkman config directory
  become: true
  become_user: "{{ username }}"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  with_items:
  - "~/.config/darkman"

- name: copy configurations
  become: true
  become_user: "{{ username }}"
  ansible.builtin.template:
    src: config.yaml.j2
    dest: "~/.config/darkman/config.yaml"

- name: create darkman script directories
  become: true
  ansible.builtin.file:
    path: "/usr/local/share/darkman"
    state: directory

- name: clear old darkman script directories
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  with_items:
  - "/usr/local/share/dark-mode.d"
  - "/usr/local/share/light-mode.d"

- name: copy darkman scripts
  become: true
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0755
  with_items:
  - src: desktop-notification.sh
    dest: "/usr/local/share/darkman/desktop-notification.sh"
  - src: gtk3-color.sh
    dest: "/usr/local/share/darkman/gtk3-color.sh"
  - src: gtk3-theme.sh
    dest: "/usr/local/share/darkman/gtk3-theme.sh"

- name: copy systemd service file for darkman
  become: true
  become_user: "{{ username }}"
  ansible.builtin.template:
    src: "darkman.service.j2"
    dest: "~/.config/systemd/user/darkman.service"
  register: darkman_service

- name: install user service for darkman
  become: true
  become_user: "{{ username }}"
  ansible.builtin.systemd_service:
    daemon_reload: true
    scope: user
    name: darkman
    state: started
  when:
    - darkman_service.changed
  ignore_errors: true
