---

- name: install kitty terminal
  become: true
  ansible.builtin.apt:
    name:
    - kitty

- name: create kitty config directory
  become: true
  become_user: "{{ username }}"
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - "~/.config/kitty"
    - "~/.config/kitty/themes"

- name: configure kitty
  become: true
  become_user: "{{ username }}"
  template:
    src: kitty.conf.j2
    dest: ~/.config/kitty/kitty.conf

- name: configure kitty theme
  become: true
  become_user: "{{ username }}"
  template:
    src: kitty-mab-theme.conf
    dest: ~/.config/kitty/themes/mab.conf
