---

- name: check drawio releases
  uri:
    url: https://api.github.com/repos/jgraph/drawio-desktop/releases/latest
    return_content: yes
  register: releases
  tags: system

- name: install or upgrade draw.io desktop
  become: yes
  apt:
    deb: "{{ releases.json |to_json|from_json| json_query('assets[?contains(name, `deb`) && contains(name, `amd64`)].browser_download_url | [0]') }}"
    state: present
  when:
    - not ansible_check_mode
    - ansible_facts.packages['draw.io'] is not defined or not ansible_facts.packages['draw.io'][0]['version'].startswith(releases.json.name)
  tags: system
