---
- name: add repository GPG key for GitHub CLI
  become: true
  ansible.builtin.get_url:
    url: https://cli.github.com/packages/githubcli-archive-keyring.gpg
    dest: /etc/apt/trusted.gpg.d/githubcli.gpg

- name: clean old APT files
  become: true
  ansible.builtin.file:
    path: "/etc/apt/sources.list.d/{{ item }}"
    state: absent
  diff: false
  loop:
    - "cli_github_com_packages.list"
    - "cli_github_com_packages.list.bak"

- name: add repository for GitHub CLI
  become: true
  ansible.builtin.deb822_repository:
    name: github
    types: deb
    uris: https://cli.github.com/packages
    suites: stable
    components: main
    architectures: amd64
    signed_by: /etc/apt/trusted.gpg.d/githubcli.gpg

- name: install GitHub CLI
  become: true
  apt:
    name: gh
    state: latest
  register: gh_install

- name: gh completion configuration
  become: true
  become_user: "{{ username }}"
  ansible.builtin.shell: "gh completion -s fish > {{ config.fish }}/completions/github.fish"
  when:
    - gh_install.changed
    - ansible_facts.packages["fish"] is defined
  tags: never  # Completions is install in vendor dir

- name: install script for gh-notification-counter
  become: true
  become_user: "{{ username }}"
  ansible.builtin.template:
    src: gh-notification-counter.j2
    dest: "~/bin/gh-notification-counter"
    mode: "0750"
  when: not private_node

- name: install service file for gh-notification-counter
  become: true
  become_user: "{{ username }}"
  ansible.builtin.template:
    src: systemd.service.j2
    dest: "~/.config/systemd/user/gh-notification-counter.service"
  register: ghcounter_service
  when: not private_node

- name: install service timer file for gh-notification-counter
  become: true
  become_user: "{{ username }}"
  ansible.builtin.template:
    src: systemd.timer.j2
    dest: "~/.config/systemd/user/gh-notification-counter.timer"
  register: ghcounter_timer
  when: not private_node

- name: service daemon reload
  become: true
  become_user: "{{ username }}"
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user
  when:
    - ghcounter_service.changed or ghcounter_timer.changed
    - not private_node
  ignore_errors: true

- name: configure gh-notification-counter service
  become: true
  become_user: "{{ username }}"
  ansible.builtin.systemd:
    enabled: true
    name: gh-notification-counter.service
    scope: user
  ignore_errors: true
  when: not private_node

- name: configure gh-notification-counter timer
  become: true
  become_user: "{{ username }}"
  ansible.builtin.systemd:
    enabled: true
    name: gh-notification-counter.timer
    state: started
    scope: user
  ignore_errors: true
  when: not private_node
