---
bluetooth:
  Policy:
    AutoEnable: false

code_directory: "~/code"
code_projects: "{{ vault_code_projects }}"

git: "{{ vault_git }}"

gpg: "{{ vault_gpg }}"

kdrive:
  version: "3.0.10.20200908"

lunii:
  version: "2.2.271"

locales:
  - fr_CH.UTF-8
  - en_US.UTF-8
  - en_CA.UTF-8

packages_directory: "~/soft"

python_tools:
  - name: cs
  - name: flake8
    extra: flake8-import-order flake8-bugbear
  - name: pip-tools
  - name: sphinx
    extra: sphinx-rtd-theme recommonmark
  - name: black
  - name: python-gist
  - name: sslyze
