---
company: "{{ vault_company }}"

email_work: "{{ vault_email }}"

git_work: "{{ vault_git_work }}"

grub_parameter: "--unrestricted"

private_node: false

username: "{{ vault_username }}"

zed:
  disable_ai: true
