---
- name: check hermit releases
  uri:
    url: https://api.github.com/repos/cashapp/hermit/releases/latest
    return_content: true
  register: releases

- name: check hermit locally
  become: true
  become_user: "{{ username }}"
  stat:
    path: /usr/local/bin/hermit
  register: hermit_stat

- name: check hermit local version
  become: true
  become_user: "{{ username }}"
  command: /usr/local/bin/hermit --version
  register: hermit_version
  changed_when: false
  when: hermit_stat.stat.exists

- name: create temporary location
  ansible.builtin.tempfile:
    state: directory
    suffix: hermit
  register: hermit_temp
  when:
    - not ansible_check_mode
    - not hermit_stat.stat.exists or releases.json.tag_name not in hermit_version.stdout

- name: download hermit {{ releases.json.tag_name }}
  ansible.builtin.get_url:
    dest: "{{ hermit_temp.path }}"
    url: "{{ releases.json |to_json|from_json| json_query('assets[?contains(name, `linux`) && contains(name, `amd64`) && contains(name, `gz`)].browser_download_url | [0]') }}"
  register: hermit_download
  diff: false
  when:
    - not ansible_check_mode
    - not hermit_stat.stat.exists or releases.json.tag_name not in hermit_version.stdout

- name: install hermit {{ releases.json.tag_name }}
  become: true
  community.general.decompress:
    dest: "/usr/local/bin/hermit"
    format: gz
    remove: true
    src: "{{ hermit_download.dest }}"
    mode: 0755
  diff: false
  when:
    - not ansible_check_mode
    - not hermit_stat.stat.exists or releases.json.tag_name not in hermit_version.stdout

- name: install hermit shell hooks
  become: true
  become_user: "{{ username }}"
  command: /usr/local/bin/hermit shell-hooks --fish
  when:
    - not ansible_check_mode
    - not hermit_stat.stat.exists or releases.json.tag_name not in hermit_version.stdout
