---

- name: install firmware for Debian devices
  become: yes
  apt:
    pkg:
      - firmware-linux
      - firmware-realtek
      - task-laptop
  tags: system, root
  when: ansible_distribution == 'Debian'

- name: install firmwares for Dell XPS 13 9360
  become: yes
  apt:
    pkg:
    - firmware-atheros
  tags: system, root
  when: ansible_system_vendor == "Dell Inc." and ansible_product_name == "XPS 13 9360"

- name: install firmwares for ThinkPad X1 Carbon 6th
  become: yes
  apt:
    pkg:
    - firmware-iwlwifi
  tags: system, root
  when: ansible_system_vendor == "LENOVO" and ansible_product_version == "ThinkPad X1 Carbon 6th"

- name: configure bluetooth
  become: true
  lineinfile:
    path: /etc/bluetooth/main.conf
    regexp: '#?AutoEnable='
    line: "AutoEnable={{ bluetooth.Policy.AutoEnable | lower }}"
