---

- name: install virtualization packages
  become: true
  ansible.builtin.apt:
    # state: absent
    name:
    # - cloud-image-utils
    # - genisoimage
    # - qemu
    # - qemu-kvm
    # - libvirt-clients
    # - libvirt-daemon
    # - libvirt-daemon-system
    # - libvirt-dev
    - incus
    - incus-extra
    # - virt-manager

- name: add groups to {{ username }}
  become: true
  user:
    name: "{{ username }}"
    # state: absent
    append: true
    groups:
      # - libvirt
      # - lxd
      - incus-admin
  tags: user, root
  ignore_errors: true
