#!/bin/bash
#
# {{ ansible_managed }}
#
# Whitelist here all domains and ips (may be masked) that need to go through FortiVPN
# Domains are separated by a space
#
#DOMAINS='example.com example.org'
IPS='{{ vpn_ips | join(" ") }}'

BASENAME=${0##*/}
INTERFACE=$1
DEVICE=$2
SPEED=$3
LOCALIP=$4
REMOTEIP=$5
IPPARAM=$6
ACTION=${0#/etc/ppp/}

#let RESOLVED
#for DOMAIN in $DOMAINS; do
#  RESOLVED=`dig +short $DOMAIN | tail -n1`
#  IPS="$IPS $RESOLVED"
#done

for IP in $IPS; do
  ip route add $IP dev $INTERFACE
done