# {{ ansible_managed }}
# Encrypt with systemd-creds
# 0. sudo systemd-creds setup
# 1. Add the password field to this file
# 2. sudo systemd-creds encrypt --name vpn-config /etc/openfortivpn/work.conf | sudo tee /etc/openfortivpn/work-password.conf
# 3. the service overrides file will read the encrypted configuration

host = {{ company_vpn.host }}
port = {{ company_vpn.port }}
username = {{ username }}
# password =

set-routes = 0
set-dns = 0
half-internet-routes = 1
