[Unit]
Description=OpenFortiVPN for %I
After=network-online.target
Wants=network-online.target
Documentation=man:openfortivpn(1)

[Service]
Type=notify
PrivateTmp=true
ExecStart=/bin/sh -c '/usr/bin/openfortivpn -c /etc/openfortivpn/%I.conf --password="`systemd-ask-password --no-tty --id=openfortivpn "Enter VPN password,TOTP for %I:")`"'
NotifyAccess=all
OOMScoreAdjust=-100
Restart=no

[Install]
WantedBy=multi-user.target