---

- name: change home permissions for {{ username }}
  become: yes
  become_user: "{{ username }}"
  file:
    path: "~/"
    state: directory
    mode: 0750
  tags: user

- name: create directory for ansible remote_tmp to skip warning
  become: yes
  become_user: "{{ username }}"
  file:
    path: "~/.ansible/tmp"
    state: directory
    mode: 0750
  tags: user

- name: add authorized ssh keys for {{ username }}
  become: yes
  authorized_key:
    key: https://github.com/marcaurele.keys
    comment: "github user key for marcaurele"
    state: present
    user: "{{ username }}"
  tags: user

- name: create directories
  become: yes
  become_user: "{{ username }}"
  file:
    path: "{{ item.path }}"
    state: directory
    mode: "{{ item.mode|default('') }}"
  loop:
    - path: "~/.config"
    - path: "~/.config/nvim"
    - path: "~/Private"
    - path: "{{ packages_directory }}"
    - path: "~/.gnupg"
      mode: "0700"
    - path: "~/.ssh"
      mode: "0700"
    - path: "{{ code_directory }}"
    - path: "~/bin"
  tags: user

- name: install config dot files
  become: yes
  become_user: "{{ username }}"
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode | default('0644')}}"
  loop:
    - src: curlrc.j2
      dest: "~/.curlrc"
    - src: gitconfig_adfinis.j2
      dest: "~/.gitconfig_adfinis"
    - src: gitconfig.j2
      dest: "~/.gitconfig"
    - src: gitignore_global.j2
      dest: "~/.gitignore_global"
    - src: vimrc.j2
      dest: "~/.vimrc"
    - src: nvim.j2
      dest: "~/.config/nvim/init.vim"
    - src: wgetrc.j2
      dest: "~/.wgetrc"
    - src: ssh_config.j2
      dest: "~ /.ssh/config"
    - src: gist.j2
      dest: "~/.gist"
    - src: docking.j2
      dest: "~/bin/docking"
      mode: "0755"
    - src: gpg.conf.j2
      dest: "~/.gnupg/gpg.conf"
      mode: "0600"
    - src: gpg-agent.conf.j2
      dest: "~/.gnupg/gpg-agent.conf"
      mode: "0600"
  tags: user

- name: clone projects
  become: yes
  become_user: "{{ username }}"
  git:
    clone: yes
    accept_hostkey: yes
    dest: "{{ item.dest }}"
    repo: "{{ item.url }}"
    update: no
    verify_commit: no
  loop: "{{ code_projects }}"
  tags: user
  ignore_errors: yes
