---
- name: add repository GPG key for HashiCorp
  become: true
  ansible.builtin.get_url:
    url: https://apt.releases.hashicorp.com/gpg
    dest: /etc/apt/trusted.gpg.d/hashicorp.asc

- name: clean old APT files
  become: true
  ansible.builtin.file:
    path: "/etc/apt/sources.list.d/{{ item }}"
    state: absent
  diff: false
  loop:
    - "apt_releases_hashicorp_com.list"
    - "apt_releases_hashicorp_com.list.bak"

- name: add repository for HashiCorp on Debian
  become: true
  ansible.builtin.deb822_repository:
    name: hashicorp
    types: deb
    uris: https://apt.releases.hashicorp.com
    suites: trixie
    components: main
    architectures: amd64
    signed_by: /etc/apt/trusted.gpg.d/hashicorp.asc
  when: ansible_distribution == "Debian"

- name: install HashiCorp tools
  become: true
  ansible.builtin.apt:
    pkg:
      - consul
      - nomad

- name: deactivate nomad service
  become: true
  ansible.builtin.systemd:
    name: nomad
    state: stopped
    enabled: false

- name: deactivate consul service
  become: true
  ansible.builtin.systemd:
    name: consul
    state: stopped
    enabled: false

- name: hashicorp configuration for CaaS
  become: true
  become_user: "{{ username }}"
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  when: ansible_facts.packages[item.shell] is defined
  with_items:
    - src: config.fish
      dest: "{{ config.fish }}/conf.d/hashicorp.fish"
      shell: fish
