---

- name: check devbox releases
  uri:
    url: https://api.github.com/repos/jetify-com/devbox/releases/latest
    return_content: true
  register: releases

- name: set latest devbox version
  set_fact:
    devbox_latest_version: "{{ releases.json.tag_name }}"
  when: not ansible_check_mode

- name: check local devbox
  stat:
    path: /usr/local/bin/devbox
  register: devbox_stat

- name: check local devbox version
  command: /usr/local/bin/devbox version
  register: devbox_version
  changed_when: false
  when: devbox_stat.stat.exists

- name: create temporary directory for install archive
  ansible.builtin.tempfile:
    state: directory
    suffix: devbox
  register: devbox_temp
  when:
    - not ansible_check_mode
    - not devbox_stat.stat.exists or devbox_latest_version not in devbox_version.stdout_lines[0]
  diff: false

- name: download devbox {{ releases.json.tag_name }}
  ansible.builtin.unarchive:
    dest: "{{ devbox_temp.path }}"
    src: "{{ releases.json |to_json|from_json| json_query('assets[?contains(name, `linux`) && contains(name, `amd64`)].browser_download_url | [0]') }}"
    remote_src: true
  register: devbox_download
  diff: false
  when:
    - devbox_temp.path is defined

- name: install devbox {{ releases.json.tag_name }}
  become: true
  copy:
    src: "{{ devbox_temp.path }}/devbox"
    dest: "/usr/local/bin/devbox"
    remote_src: true
    mode: 0755
  when:
    - devbox_temp.path is defined

- name: devbox configuration
  become: true
  become_user: "{{ username }}"
  ansible.builtin.template:
    src: devbox.fish
    dest: "{{ config.fish }}/conf.d/devbox.fish"
  when: ansible_facts.packages["fish"] is defined

- name: devbox completion
  become: true
  become_user: "{{ username }}"
  ansible.builtin.shell: "/usr/local/bin/devbox completion fish > {{ config.fish }}/completions/devbox.fish"
  when:
    - ansible_facts.packages["fish"] is defined
    - devbox_temp.path is defined
