# {{ ansible_managed }}

[default]
cli_follow_urlparam = false

{% for group, config in aws_config.items() %}

[profile {{ group }}]
{% for key, value in config.items() %}
{{ key }} = {{ value }}
{% endfor %}
{% endfor %}
