#!/bin/bash
# {{ ansible_managed }}

ACTION="$1"

if [[ "$ACTION" == "home" ]]; then
	xrandr --output eDP-1 --primary --mode 1920x1080 --output DP-1-1 --mode 3440x1440 --left-of eDP-1 --output HDMI-1 --off --output HDMI-2 --off --output DP-1 --off --output DP-2 --off --output DP-1-2 --off --output DP-1-3 --off

elif [[ "$ACTION" == "bern" ]]; then
	xrandr --output eDP-1 --primary --mode 1920x1080 --pos 0x0 --rotate normal --output DP-1-3 --mode 1920x1080 --pos 3840x0 --rotate normal --output HDMI-2 --off --output HDMI-1 --off --output DP-1 --off --output DP-1-2 --mode 1920x1080 --pos 1920x0 --rotate normal --output DP-2 --off --output DP-1-1 --off

elif [[ "$ACTION" == "hdmi" ]]; then
	xrandr --output eDP-1 --primary --mode 2560x1440 --pos 0x0 --rotate normal --output HDMI-1 --mode 1920x1080 --pos 2560x0 --rotate normal --output HDMI-2 --off --output DP-1 --off --output DP-2 --off --output DP-1-1 --off --output DP-1-2 --off --output DP-1-3 --off

elif [[ "$ACTION" == "laptop" ]]; then
	xrandr --output eDP-1 --primary --mode 2560x1440 --pos 0x0 --rotate normal --output DP-1 --off --output HDMI-1 --off --output DP-2 --off --output HDMI-2 --off --output DP-1-1 --off --output DP-1-2 --off --output DP-1-3 --off

fi
