# {{ ansible_managed }}
# System
.DS_Store
.DS_Store?
*~
*.swp
*._*
.Trashes

# IDE
.idea/
*.iml
.vscode/

# Compiled files
*.pyc
*.class
.venv/
.eggs/
.python-version

target/
bin/

.terraform-version
node_modules/
