---

# Require sudo sysctl kernel.unprivileged_userns_clone=1 for now

- name: check joplin releases
  uri:
    url: https://api.github.com/repos/laurent22/joplin/releases/latest
    return_content: yes
  register: releases
  tags: system

- name: create directory for joplin AppImage
  file:
    state: directory
    path: "~/.joplin"
  tags: system

- name: check joplin VERSION file
  stat:
    path: "~/.joplin/VERSION"
  register: joplin_stat
  tags: system

- name: read joplin VERSION file
  slurp:
    src: "~/.joplin/VERSION"
  register: joplin_content
  when: joplin_stat.stat.exists
  tags: system

- name: install or upgrade joplin {{ releases.json.tag_name }}
  get_url:
    url: "{{ releases.json |to_json|from_json| json_query('assets[?ends_with(name, `AppImage`)].browser_download_url | [0]') }}"
    dest: "~/.joplin/Joplin.AppImage"
    mode: "0755"
  when: not joplin_stat.stat.exists or releases.json.tag_name != (joplin_content.content | b64decode | trim)
  register: joplin_install
  tags: system

- name: add joplin VERSION file
  copy:
    content: "{{ releases.json.tag_name }}"
    dest: "~/.joplin/VERSION"
  when: joplin_install is not skipped
  tags: system
