---
packages_directory: "~/soft"
code_directory: "~/code"
python_tools:
  - name: cs
  - name: flake8
    extra: flake8-import-order flake8-bugbear
  - name: pip-tools
  - name: sphinx
    extra: sphinx-rtd-theme recommonmark
  - name: black
  - name: python-gist

code_projects: '{{ vault_code_projects }}'

kdrive:
  version: "3.0.10.20200908"
