---
- name: check zen releases
  uri:
    url: https://api.github.com/repos/zen-browser/desktop/releases/latest
    return_content: true
  register: releases

- name: check zen locally
  become: true
  become_user: "{{ username }}"
  stat:
    path: /usr/local/bin/zen
  register: zen_stat

- name: check zen local version
  become: true
  become_user: "{{ username }}"
  command: /usr/local/bin/zen --version
  register: zen_version
  changed_when: false
  when: zen_stat.stat.exists

- name: download & install zen {{ releases.json.tag_name }}
  become: true
  ansible.builtin.get_url:
    dest: "/usr/local/bin/zen"
    url: "{{ releases.json |to_json|from_json| json_query('assets[?ends_with(name, `AppImage`) && contains(name, `x86_64`)].browser_download_url | [0]') }}"
    mode: 0755
  register: release_download
  diff: false
  when:
    - not ansible_check_mode
    - not zen_stat.stat.exists or releases.json.tag_name not in zen_version.stdout

- name: install zen desktop alias
  become: true
  ansible.builtin.template:
    src: zen.desktop
    dest: /usr/local/share/applications/zen.desktop
