---

- name: check DBeaver releases
  uri:
    url: https://api.github.com/repos/dbeaver/dbeaver/releases/latest
    return_content: true
  register: latest_release
  tags: system

- name: install latest DBeaver
  become: true
  apt:
    deb: "{{ latest_release.json |to_json|from_json| json_query('assets[?contains(name, `linux-x86`) && contains(name, `deb`)].browser_download_url | [0]') }}"
    state: present
  when:
    - not ansible_check_mode
    - ansible_facts.packages['dbeaver-ce'] is not defined or ansible_facts.packages['dbeaver-ce'][0]['version'] != latest_release.json['tag_name']
  tags: system
